@{
    Layout = null;
}
    <h2>IntakeData</h2>
        <div class="form-horizontal">
            <ul id="validationSummary"></ul>
            Are you sure that you want to delete {{IntakeData}}?
            <div class="form-group">
                <label for="ProjectName" class = "control-label col-md-2">
                ProjectName
                </label>
                <div class="col-md-10">
                    {{data.ProjectName}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="AssignedTo" class = "control-label col-md-2">
                AssignedTo
                </label>
                <div class="col-md-10">
                    {{data.AssignedTo}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="AssignedBy" class = "control-label col-md-2">
                AssignedBy
                </label>
                <div class="col-md-10">
                    {{data.AssignedBy}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="Stackholder" class = "control-label col-md-2">
                Stackholder
                </label>
                <div class="col-md-10">
                    {{data.Stackholder}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="DeploymentType" class = "control-label col-md-2">
                DeploymentType
                </label>
                <div class="col-md-10">
                    {{data.DeploymentType}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="Description" class = "control-label col-md-2">
                Description
                </label>
                <div class="col-md-10">
                    {{data.Description}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="BeginDate" class = "control-label col-md-2">
                BeginDate
                </label>
                <div class="col-md-10">
                    {{data.BeginDate}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="LastModified" class = "control-label col-md-2">
                LastModified
                </label>
                <div class="col-md-10">
                    {{data.LastModified}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="CompleteDate" class = "control-label col-md-2">
                CompleteDate
                </label>
                <div class="col-md-10">
                    {{data.CompleteDate}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="IntakePayload" class = "control-label col-md-2">
                IntakePayload
                </label>
                <div class="col-md-10">
                    {{data.IntakePayload}}
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" ng-click="save()" />
                </div>
            </div>
        </div>
    
    <div>
        <a href="#/IntakeData">Back to List</a>
    </div>
